
  $background: #F5F0EB; /* off white brown */
  $alpha:      #3D2914; /*very dark brown */
  $beta:       #996633; /*Dark brown */
  $gamma:      #AD855C; /*less dark brown*/
  $delta:      #CCE6FF; /*sky blue */
  $font: 'Cutive Mono', monospace;

/*          general rules  */  
html
{
    letter-spacing: -1px;
}
body {
    background-color: $background;
}
h1, h2, h3, h4, h5, h6, p, dt, dd {
    font-family: $font;
}
h1 {
    font-size: 3.5em;
    text-align: center;
    padding: 1px;
    margin-top: 12px;
    text-shadow: 2px 2px 3px rgba(200, 200, 200, .7);
}
h2 {
    
    font-size: 1.5em;
    padding: 1.25%;
    
}
h3 {
    font-size: 2.25em;
    
    clear: both;
}

h4 {
    
    font-size: 1.75em;
}
h5 {
    
    font-size: 1.4em;
}
p {
    font-size: 1em;
    
}
select {
    margin-top: -2%;
    margin-left: 10%;
    font-size: 1.25em;
}


dt.default {
    font-family: $font;
    font-size: 1.2em;
    clear: both;
    text-align: left;
    padding-top: 15px;
    font-weight: bold;
}

    /* GENERAL IDs and Classes */
#jumbotron {
    color: $background;
    position: fixed;
    width: 100%;
    margin-top: -10px;  
    background: url('cpics/cband.JPG');
    background-size: 1200px 100px;
    height: 100px;
    
    a {
        text-decoration: none;
        color: $background;
        
        &:hover {
            color: $delta;
            background-color: $alpha;
        }
        
    }
 
}

#menu {
    
    display: inline;
    background-color: $background;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
    margin-top: 87px;
    
    a {
        text-align: center;     
        font-size: .85em;
        border-radius: 2px;
        min-width: 11%;
        max-width: 11%;
        display: inline-block;
        text-decoration: none;
        color: $alpha;
        padding: .5%;
        margin-top: 5px;
        margin-left: 1%;
        margin-bottom: 5px;
        margin-right: .5%;
        font-family: $font;
        
        &:hover {
            color: $background;
            background-color: $alpha;
        }                     
    }  
}

.main {
    margin-top: 81px;
    position: absolute;
    color: $alpha;
    background-color: $background;
    z-index: -2;
    max-width: 100%;
    padding: 6px;
    padding-top: 45px;
    clear: both;  
}

.note {
    font-style: italic;
    font-size: .85em; 
}

.noDeco {
    color: $alpha;
}

.clear {
    clear: both;
}

.seeMore {
    color: $alpha;
    font-size: 1.3em;
    margin: 10px;
     margin-bottom: 45px;
    padding: 6px;
    border-radius: 2px;
    
    &:hover
    {
        color: $background;
        background: $alpha;
        
    }
}


        /* IMG classes */
.imLeft {
    float: left;
    max-width: 30%;
    height: auto;
    margin: 6px;
   
    clear: left;
    border: 1px solid $alpha;
    border-radius: 3px;
}

.smLeft {
    float: left;
    max-width: 14%;
    height: auto;
    margin: 6px;
    clear: left;
    border: 1px solid $alpha;
    border-radius: 3px;
}

.bigLeft {
    float: left;
    width: 55%;
    height: auto;
    margin: 6px;
    clear: left;
    border: 1px solid $alpha;
    border-radius: 3px;
}

.bigRight {
    float: right;
    width: 55%;
    height: auto;
    margin: 6px;
    clear: left;
    border: 1px solid $alpha;
    border-radius: 3px;
}

.imRight {
    float: right;
    max-width: 30%;
    height: auto;
    margin: 6px;
    border: 1px solid $alpha;
    border-radius: 3px;
}
.middle {
    max-height: 250px;
    height: auto;
    width: auto;
    max-width: 90%;
    margin: 6px;
    border: 1px solid $alpha;
    border-radius: 3px;
}
.map {
    float: right;
    width: 40%;
    height: auto;
    margin: 6px;
}

#bigmap {
    width: 99%;
    height: auto;
    margin: auto;
    border: 1px solid $alpha;
    border-radius: 3px;  
}


        /*IDs and classes used in one area */

#mocha {
    clear: left;
}
#ph {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 6px;
    border: 1px solid $alpha;
    border-radius: 3px;
}

.essay {
    clear: both;
    width: 100%;
}

.buttonList
{
    float: left;
    width: 16%;
    margin-left: -3%;
    padding: 1.5%;
    min-width: 82px;
    margin-top: 0%;
}

.button
{
    text-align: right;     
    font-size: 1em;
    border-radius: 2px;
    text-decoration: none;
    color: $alpha;
    padding: .5%;
    margin-bottom: 5px;
    font-family: $font;

    &:hover {
        color: $background;
        background-color: $alpha;
    }   
}

#exp
{
    width: 82%;
    min-height: 400px;
    float: right;
    
    p
    {
        font-size: 1.2em;
        font-family: $font;
        padding: 1%;
        margin: 1%;
    }
}

.capcat
{
    width: 100%;
    height: auto;
}

@media (min-width: 320px) and (max-width: 568px)
{
 #menu a
    {
        display: none;
    }
}

@media (min-width: 569px)
{
    #menu select, .selector
    {
        display: none;
    }
}

