/*
#996633 Dark brown
#AD855C less dark brown
#F5F0EB off white brown
#3D2914 very dark brown
#CCE6FF sky blue
*/

#jumbotron {
    background-color: #996633;
    color: #F5F0EB;
    position: fixed;
    height: 155px;
    max-width: 950px;
    min-width: 550px;
    margin-top: -15px;
}

#jumbotron h1 {
    font-family: "Courier New" monospace;
    font-size: 1.75em;
    text-align: center;
    padding: 10px;
    
}

#jumbotron p {
    font-family: "Courier New" monospace;
    font-size: .85em;
    text-align: center
}

#menuButton {
    position: fixed;
    height: 35px;
    width: 35px;
    border: 2px solid #F5F0EB;
   /* background-color: #CCE6FF; */
    border-radius: 4px;
    margin-left: 5px;
    margin-top: -40px;
}
   
#menu {
    display: none;
    background-color: #F5F0EB;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    position: fixed;
    border: 2px solid #996633;
    border-radius: 5px;
    z-index: 1;
    
}

#menu a {
    text-align: center;
   /* border: 2px solid  #996633; */
    border-radius: 5px;
    height: 28px;
    width: 140px;
    display: block;
    text-decoration: none;
    color: #996633;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: -5px;
    margin-right: 0px;
    font-family: "Courier New", monospace;
    font-size: .85em;
    
}

#menu a:hover {
    color: #F5F0EB;
    background-color: #996633;
}

.main {
    margin-top: 150px;
    position: absolute;
    color: #996633;
    background-color: #F5F0EB ;
    border: 2px solid #996633;
    z-index: -1;
    max-width: 925px;
    padding: 10px;
}
.main h3 {
    font-size: 1.7em;
    font-family: "Courier New", monospace;
    clear: both;
}
.main p {
    font-size: 1em;
    font-family: "Courier New", monospace;
}

.main h4 {
    font-family: "Courier New", monospace;
    font-size: 1.5em;
}

.main dt {
    font-family: "Courier New", monospace;
    font-size: 1.2em;
    clear: left;
    text-align: center;
}

.main dd {
    font-family: "Courier New", monospace;
}

.note {
    font-style: italic;
    font-size: .85em;
    
}
.noDeco {
    color: #996633;
}

.imLeft {
    float: left;
    max-width: 30%;
    height: auto;
    margin: 6px;
    clear: left;
    border: 1px solid #996633;
    border-radius: 3px;
}

.imRight {
    float: right;
    max-width: 30%;
    height: auto;
    margin: 6px;
    border: 1px solid #996633;
    border-radius: 3px;
}
.middle {
    max-height: 250px;
    height: auto;
    width: auto;
    max-width: 90%;
    margin: 6px;
    border: 1px solid #996633;
    border-radius: 3px;
}

.seeMore {
    color: #996633;
    font-size: .5em;
}

#redEye {
    clear: right;
}
#ph {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 6px;
    border: 1px solid #996633;
    border-radius: 3px;
}

h5 {
    font-family: "Courier New", monospace;
    font-size: 1.2em;
}

.map {
    float: right;
    width: 30%;
    height: auto;
    margin: 6px;
    border: 1px solid #996633;
    border-radius: 3px;

}